    <footer>
        <div class="footer-wrapper flex-wrap">
            <div class="link-section row span-2-of-3 flex-row">
                <div class="link-row row span-1-of-3">
                    <h3 class="footer-link-heading">Navigation</h3>
                    <ul class="footer-ul">
                        <li class="footer-link"><a href="/">Home</a></li>
                        <li class="footer-link"><a href="/#about">About</a></li>
                        <li class="footer-link"><a href="/alumni">View Alumni</a></li>
                        <li class="footer-link"><a href="/search">Search Alumni</a></li>
                    </ul>
                </div>
                <div class="link-row row span-1-of-3">
                    <h3 class="footer-link-heading">Quick Links</h3>
                    <ul class="footer-ul">
                        <li class="footer-link"><a href="/profile/me">View Profile</a></li>
                        <li class="footer-link"><a href="/profile/edit">Edit Profile</a></li>
                        <li class="footer-link"><a href="/ayush">About the author</a></li>
                        <li class="footer-link"><a href="/contact?subject=Hello!">Get in touch</a></li>
                    </ul>
                </div>
                <div class="link-row row span-1-of-3">
                    <h3 class="footer-link-heading">Support</h3>
                    <ul class="footer-ul">
                        <li class="footer-link"><a href="/wiki">Project Wiki</a></li>
                        <li class="footer-link"><a href="/contact?subject=Claiming account with school id - ">Claim account</a></li>
                        <li class="footer-link"><a href="/contact?subject=Request for account creation">Request for account</a></li>
                        <li class="footer-link"><a href="https://github.com/singhayushh/MPB-Connect/issues/new">Report a bug</a></li>
                    </ul>
                </div>
            </div>
            <div class="colophon row span-1-of-3">
                <div class="footer-logo">
                    <img src="/img/sm-clc.png" alt="">
                </div>
                <h2 class="colophon-heading">MPB Connect</h2>
                <p class="sm">
                    Bridging the gap between alumni and schools.
                </p>
            </div>
        </div>
        <div class="socials-footer">
            <ul class="socials">
              <li>
                <a href="https://twitter.com/singhayushhh">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/_singhayushh/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/singhayushhh">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/in/singhayushh">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://github.com/singhayushh">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
              </li>
            </ul>
          </div>
        <div class="footnote">
            <p class="sm">
                Website designed and built by <a href="https://github.com/singhayushh" target="_blank">@singhayushh</a>
            </p>
        </div>
    </footer>
    
    <script src="/js/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>