<!DOCTYPE html>
<html lang="en">
<head>
    <title>MPBians</title>

    <!-- Meta Tags for SEO -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="mpb, mpbirla, mpbirla school, m. p. birla foundation higher secondary schoolm, mpb alumni, mpb alumni website, alumni portal, mpb alumnus, networking, ex-students">
    <meta name="description"
        content="Catch upon your old friends, faculty and memories from school, MPBians is a web platform for all alumni of the M. P. Birla Foundation Higher Secondary School, to help connect with each other back again.">
    <meta property="og:title" content="MPBians">
    <link href="/favicon.ico" rel="icon">
    <meta property="og:description"
        content="Catch upon your old friends, faculty and memories from school, MPBians is a web platform for all alumni of the M. P. Birla Foundation Higher Secondary School.">
    <meta name="robots" content="all">
    <meta property="og:image" content="/img/og.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mpbconnect.herokuapp.com/">
    <meta itemprop="url" content="https://mpbconnect.herokuapp.com/">
    <meta name="theme-color" content="#232D41">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <!-- Stylesheet for font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Website Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/queries.css" type="text/css">

</head>
<body>
    <header>
        <div class="container">
            <a class="hero flex-row" href="/">
                <div class="logo">
                    <img src="/img/transparent.png" alt="">
                </div>
                <h3 style="margin: 0rem;">
                    MPBians
                </h3>
            </a>
    
            <nav>
                <ul class="flex-row">
                    <li>
                        <a href="/">
                            <div class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </div>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/alumni">
                            <div class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </div>
                            <span>Explore</span>
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <div class="icon">
                                <ion-icon name="mail-unread-outline"></ion-icon>
                            </div>
                            <span>Contact</span>
                        </a>
                    </li>
                    <% if (!auth) { %> 
                        <li class="hide">
                            <a href="/profile/me">
                                <div class="icon">
                                    <ion-icon name="happy-outline"></ion-icon>
                                </div>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            
            <div class="nav-buttons flex-row">
                <% if (!auth) { %> 
                    <a href="/profile/me" class="btn cta">Profile</a>
                <% } else { %>
                    <a href="/login" class="btn">Sign in</a>
                    <a href="/register" class="btn cta">Sign up</a>
                <% } %>
            </div>
        </div>
    </header>