<%- include('components/header.ejs') %>

<main id="landing">
    <div class="container">
        <div class="flex-row">
            <div class="row span-1-of-1">
                <h1 class="hero-text">
                    <span class="blue">Catch upon your school friends</span><br/>
                    and memories.
                </h1>
                <a class="btn cta" href="/register">
                    Register yourself as an Alumni
                </a>
            </div>
            <div class="row span-1-of-1 visual">
                <div class="hide">
                    <h1>MPB Connect</h1>
                    <img src="/img/connect.svg" alt="">
                </div>
                <div class="unhide">
                    <img src="/img/p1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>

<section id="about">
    <div class="container">
        <div class="flex-row stretch">
            <div class="row span-2-of-3">
                <h2 class="w-100">About MPB Connect</h2>
                <p>
                    This platform aims to keep all MPBians connected as well as help us keep up with our alumni.
                </p>
                <div class="flex-wrap" style="justify-content: flex-start;">
                    <div class="row span-1-of-2">
                        <div class="icon red red-bg">
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                        <h3>Profile</h3>
                        <p>Register and create your own personal alumni profile which will be visible to all other MPBians globally!!</p>
                    </div>
                    <div class="row span-1-of-2"></div>
                    <div class="row span-1-of-2">
                        <div class="icon green green-bg">
                            <ion-icon name="megaphone-outline"></ion-icon>
                        </div>
                        <h3>Broadcast</h3>
                        <p>School admins can access emails and phone numbers of regisered alumni to broadcast messages and notifications.</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon blue blue-bg">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </div>
                        <h3>Tete-a-tete</h3>
                        <p>(Upcoming Feature) Full fledged text as well as video chat forum for all to communicate, discuss, announce and collaborate.</p>
                    </div>
                </div>
            </div>
            <div class="row span-1-of-3 visual center flex-wrap" style="align-items: flex-end;">
                <img src="/img/about.svg" alt="">
            </div>
        </div>
    </div>
</section>

<%- include('components/footer.ejs') %>