<%- include('components/header.ejs') %>

<main id="landing">
    <div class="container">
        <div class="flex-row">
            <div class="row span-1-of-1">
                <h1>
                    <span class="blue">Catch upon your old friends</span><br/>
                    And memories from school.
                </h1>
                <a class="btn cta" href="/register">
                    Register Now
                </a>
            </div>
            <div class="row span-1-of-1">
                <img src="/img/p1.png" alt="">
            </div>
        </div>
    </div>
</main>
<section id="about">
    <div class="container">
        <div class="flex-row">
            <div class="row span-2-of-3">
                <h2 class="w-100">About this platform</h2>
                <p>
                    The main idea behind this website is to offer a platform for all MPBians to stay connected with the school as well as help the school keep up with their alumni.
                </p>
                <div class="flex-wrap">
                    <div class="row span-1-of-2">
                        <div class="icon red red-bg">
                            <ion-icon name="mail"></ion-icon>
                        </div>
                        <h3>Topic</h3>
                        <p>Description</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon red red-bg">
                            <ion-icon name="mail"></ion-icon>
                        </div>
                        <h3>Topic</h3>
                        <p>Description</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon red red-bg">
                            <ion-icon name="mail"></ion-icon>
                        </div>
                        <h3>Topic</h3>
                        <p>Description</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon red red-bg">
                            <ion-icon name="mail"></ion-icon>
                        </div>
                        <h3>Topic</h3>
                        <p>Description</p>
                    </div>
                </div>
            </div>
            <div class="row span-1-of-3">

            </div>
        </div>
    </div>
</section>

<%- include('components/footer.ejs') %>