<%- include('components/header.ejs') %>

<main id="landing">
    <div class="container">
        <div class="flex-row">
            <div class="row span-1-of-1">
                <h1>
                    <span class="blue">Catch upon your old friends</span><br/>
                    And memories from school.
                </h1>
                <a class="btn cta" href="/register">
                    Register Now
                </a>
            </div>
            <div class="row span-1-of-1 visual">
                <img src="/img/p1.png" alt="">
            </div>
        </div>
    </div>
</main>

<section id="about">
    <div class="container">
        <div class="flex-row stretch">
            <div class="row span-2-of-3">
                <h2 class="w-100">About this platform</h2>
                <p>
                    The main idea behind this website is to offer a platform for all MPBians to stay connected with the school as well as help the school keep up with their alumni.
                </p>
                <div class="flex-wrap">
                    <div class="row span-1-of-2">
                        <div class="icon red red-bg">
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                        <h3>Profile</h3>
                        <p>Register to the platform and create your own personal alumni profile which will be visible to all other alumnis and faculty from school.</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon yellow yellow-bg">
                            <ion-icon name="business-outline"></ion-icon>
                        </div>
                        <h3>Connect</h3>
                        <p>This platform will help you get in touch with old friends from school as well as other alumni and most importantly, the school faculty.</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon green green-bg">
                            <ion-icon name="megaphone-outline"></ion-icon>
                        </div>
                        <h3>Broadcast</h3>
                        <p>School admins can fetch all the emails and phone numbers of regisered students to send broadcast messages and notifications.</p>
                    </div>
                    <div class="row span-1-of-2">
                        <div class="icon blue blue-bg">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </div>
                        <h3>Forum</h3>
                        <p>Upcoming Feature | Full fledged text as well as video chat forum for all to communicate, discuss, announce and collaborate.</p>
                    </div>
                </div>
            </div>
            <div class="row span-1-of-3 visual center flex-wrap" style="align-items: flex-end;">
                <img src="/img/about.svg" alt="">
            </div>
        </div>
    </div>
</section>

<%- include('components/footer.ejs') %>