<%- include('components/header.ejs') %>

<main id="landing">
    <div class="container">
        <div class="flex-row">
            <div class="row span-1-of-1">
                <h1>
                    <span class="blue">Catch upon your old friends</span><br/>
                    And memories from school.
                </h1>
                <div class="btn cta">
                    Register Now
                </div>
            </div>
            <div class="row span-1-of-1">
                <img src="/img/p1.png" alt="">
            </div>
        </div>
    </div>
</main>
<section id="about">
    <div class="container">
        <h2>About</h2>
    </div>
</section>

<%- include('components/footer.ejs') %>