<%- include('components/header.ejs') %>

<main id="profile">
    <div class="container">
        <div class="flex-row stretch head">
            <div class="row span-1-of-4">
                <div class="img-wrapper">
                    <img src="/img/mark.png" alt="Profile">
                </div>
            </div>
            <div class="row span-3-of-4 flex-column flex-start">
                <div class="profile-header w-100">
                    <div class="w-100 flex-row">
                        <h2>Kate Velasquez</h2>
                        <a href="/profile/sample-edit" class="btn cta">Edit Profile</a>
                    </div>
                    <span>Product Lead, CEO</span>
                </div>
                <div class="profile-footer">
                    <div class="icon-set">
                        <ion-icon name="location-outline"></ion-icon>
                        <span>Kolkata, India</span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="golf-outline"></ion-icon>
                        <span>Network Marketing</span>
                    </div>
                    <br>
                    <div class="icon-set">
                        <ion-icon name="call-outline"></ion-icon>
                        <span>+91 416 365 4675</span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="mail-outline"></ion-icon>
                        <span>kate.velasquez@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section>
    <div class="container">
        <div class="flex-row">
            <div class="row span-1-of-3">
                <h3>On the web</h3>
                <p>
                    <div class="icon-set">
                        <ion-icon name="logo-instagram"></ion-icon>
                        <span>kate.velasquez</span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="logo-facebook"></ion-icon>
                        <span>katestrophic</span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="logo-twitter"></ion-icon>
                        <span>cat_velasquez</span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="logo-linkedin"></ion-icon>
                        <span>kate-velasquez</span>
                    </div>
                </p>
                <h3>School</h3>
                <p>
                    <label for="year">Year of passing</label>
                    <span>2019</span>
                    <label for="stream" style="margin-top: 1rem;">Stream</label>
                    <span>Commerce</span>
                </p>
            </div>
            <div class="row span-2-of-3">
                <h3>About</h3>
                <p>
                    Co-Founder, CEO and Product Lead of SkillGravity, Startup Advisor, I have been bootstrapping the company of 7 people for 2 years.
                    <br/><br/>
                    Proudly and with very limited resources I managed to envision and launch a revolutionary web and mobile app. With zero marketing budget I strategized with the team and successfully acquired our first 1000 active users and made several valuable key partnerships in a few months.
                </p>
                <h3>Portfolio</h3>
                <p>
                    <div class="icon-set">
                        <ion-icon name="earth-outline"></ion-icon>
                        <span>https://katevelasquez.com</span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="logo-linkedin"></ion-icon>
                        <span>kate-velasquez</span>
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>

<%- include('components/footer.ejs') %>