@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf');
}

:root {
    --heading-size: 3rem;
    --logo-size: 2rem;
    --subheading-size: 1.5rem;
    --font-size: 1rem;
    --padding-vertical: 3.5rem;
    --padding-horizontal: 2.5rem;
    --margin: 1rem;
    --bg-primary: #FFFFFF;
    --bg-secondary: #FFFCF7;
    --text-primary: #070707;
    --text-secondary: #3d3d3d;
    --brand-color: #F4A641;
    --red: rgb(219, 50, 54);
    --yellow: rgb(244, 194, 13);
    --blue: rgb(72, 133, 237);
    --green: rgb(60, 186, 84);
    --red-bg: rgba(219, 50, 54, 0.2);
    --yellow-bg: rgba(244, 194, 13, 0.2);
    --blue-bg: rgba(72, 133, 237, 0.2);
    --green-bg: rgba(60, 186, 84, 0.2);
    --shadow-raised: 2px 4px 12px rgb(211, 211, 211);
    --shadow-flat: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--bg-secondary);
}

body {
    font-family: "Manrope", "Noto Sans", sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.55;
    color: var(--text-secondary);
    text-align: left;
    background-color: var(--bg-primary);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Manrope", "Noto Sans", sans-serif;
    color: var(--text-primary);
    font-weight: 700;
    margin-bottom: var(--margin);
}

h1 {
    text-align: center;
    font-size: var(--heading-size);
}

h2 {
    font-size: var(--logo-size);
}

h3 {
    font-size: var(--subheading-size);
}

p {
    text-align: justify;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

a,
a:visited,
a:hover,
a:active {
    transition: all 0.4s ease-in-out;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--blue);
}

ul li {
    list-style: none;
}

ol li {
    margin-left: var(--margin);
}

section, main {
    background-color: var(--bg-primary);
    width: 100%;
}

section {
    border-top: 1px solid #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.span-1-of-1,
.row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.flex-wrap,
.flex-column,
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.flex-start {
    align-items: flex-start !important;
}

.center {
    align-items: center;
}

.raised {
    box-shadow: var(--shadow-raised);
}

.flat {
    box-shadow: var(--shadow-flat);
}

.icon, .logo {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: var(--margin);
}

.icon {
    float: left;
}

.icon ion-icon {
    --ionicon-stroke-width: 36px;
}

.warning {
    font-weight: 700;
    color: var(--red);
}

.red {
    color: var(--red);
}

.red-bg {
    color: var(--red) !important;
    background-color: var(--red-bg);
}

.blue {
    color: var(--blue);
}

.blue-bg {
    color: var(--blue) !important;
    background-color: var(--blue-bg);
}

.yellow {
    color: var(--yellow) !important;
}

.yellow-bg {
    color: var(--yellow) !important;
    background-color: var(--yellow-bg);
}

.green {
    color: var(--green);
}

.green-bg {
    color: var(--green) !important;
    background-color: var(--green-bg);
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    color: var(--text-primary);
    padding: 10px 16px;
    float: left;
    transition: all 0.3s;
}

.cta {
    font-weight: 600;
    background-color: var(--brand-color);
    color: #FFFFFF !important;
}

.cta:hover {
    color: #FFFFFF !important;
    box-shadow: var(--shadow-raised);
}

.form-item {
    width: 100%;
    float: left;
    max-width: 400px;
    margin-bottom: var(--margin);
}

.w-100 {
    max-width: none;
    width: 100%;
}



form {
    width: 100%;
    max-width: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.basic {
    width: auto;
    max-width: none;
    display: block;
}

.basic .form-item {
    max-width: 600px;
}

.separator {
    text-transform: uppercase;
    line-height: 2.55;
    font-weight: 800;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.separator a {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--red);
    text-transform: none;
}

form ::placeholder {
    font-family: inherit;
    color: #bebebe;
    opacity: 1;
}

.input-info {
    font-size: 0.875rem;
    color: #9e9ea7;
    margin-bottom: var(--margin);
}

label {
    display: block;
    margin-bottom: .2rem;
    font-weight: 700;
}

.visual img {
    width: 100%;
}

.stretch {
    align-items: stretch;
}

input, select, textarea, button {
    font-size: var(--font-size);
    font-family: inherit;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 400;
    line-height: 24px;
    height: 40px;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    -webkit-transition: background-color 0.4s ease, outline 0.4s ease, color 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: background-color 0.4s ease, outline 0.4s ease, color 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

textarea {
    min-height: 108px;
    resize: vertical;
}

input:hover, select:hover, textarea:hover {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 4px var(--yellow-bg);
    box-shadow: 0 0 0 4px var(--yellow-bg);
}

input:focus, select:focus, textarea:focus {
    background-color: #fff;
    border-color: var(--brand-color);
    -webkit-box-shadow: 0 0 0 4px var(--yellow-bg);
    box-shadow: 0 0 0 4px var(--yellow-bg);
}

button[type=submit] {
    margin-top: var(--margin);
    width: 100%;
    max-width: 200px;
}

.icon-set {
    display: flex;
    min-width: 175px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    margin-right: calc(2 * var(--margin));
}

.icon-set ion-icon {
    --ionicon-stroke-width: 42px;
    color: var(--brand-color);
    font-size: 1.25rem;
    margin-right: 0.75rem;
}

/* Actual CSS Begins here */

header {
    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: var(--shadow-raised);
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: flex-end;
    background-color: var(--bg-secondary);
}

header .container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0rem var(--margin);
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hero {
    align-items: center;
}

header img {
    height: 100%;
}

.hero, .account-icon, nav span, .nav-buttons {
    display: none;
}

.account-icon {
    box-shadow: var(--shadow-raised);
}

nav, nav ul {
    width: 100%;
}

.active {
    color: var(--brand-color);
}

ion-icon {
    font-size: 1.5rem;
    --ionicon-stroke-width: 36px;
}

/* Sections */
main {
    background-color: var(--bg-secondary);
}

#landing main {
    min-height: 500px;
}

#landing .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#landing img {
    width: 100%;
}

#auth .row {
    align-items: center;
    justify-content: center;
}

#auth form {
    height: 100%;
    justify-content: flex-start;
}

.form-title {
    margin-bottom: var(--padding-vertical);
}

/* Profile Page */

#profile .head, #profile .span-3-of-4 {
    justify-content: space-between;
}

.img-wrapper {
    border-radius: 8px;
    width: 90%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
}

.profile-footer .icon-set {
    position: relative;
    float: left;
}

.card {
    text-align: center;
    padding: var(--margin);
    border-radius: 8px;
    min-width: 250px;
    margin-right: var(--margin);
    margin-bottom: calc(2*var(--margin));
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
    background-color: var(--bg-primary);
}

.card:hover, .stats:hover {
    scale: 1.08;
    color: inherit;
}

.card .icon {
    margin-right: 0;
}

.banner {
    top: -100px;
    position: absolute;
    width: 400%;
    height: 200px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.card h2 {
    margin-top: 30px;
    width: 100%;
}

.card .icon-set {
    min-width: none;
    margin-right: 0rem;
}

.card-footer {
    border-top: 1px solid #bebebe;
    padding-top: var(--margin);
    margin-top: var(--margin);
}

/* Footer */

footer {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    padding: 0rem var(--padding-horizontal);
    padding-top: var(--padding-vertical);
    background-color: #ffefd5;
    margin-bottom: 5.5rem;
}

.footer-wrapper {
    padding-top: 1.5rem;
    justify-content: space-between;
}

footer li {
    list-style: none;
    margin: 0;
}

.link-row, .footer-logo {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.footer-link-heading {
    font-size: 1.5rem;
}

.footer-link {
    margin-top: 10px;
}

.socials {
  display: flex;
}

.socials-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socials-footer li {
  margin: 1.25rem 0.875rem;
}

.footnote {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
  display: flex;
}

.footer-logo img {
    height: 4.5rem;
    width: auto;
}

.newsletter {
  margin: 1.25rem auto;
}

.newsletter, .newsletter form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.newsletter input {
  height: 40px;
  display: inline-block;
  width: auto;
  font-size: 0.875rem;
  position: relative;
  -webkit-box-flex: 1;
  min-width: 0;
  margin-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0rem 1.25rem;
  box-shadow: none;
  letter-spacing: normal;
  text-transform: none;
}

.newsletter button {
  position: relative;
  border-radius: 0.25rem;
  height: 40px;
  margin-left: -5px;
  padding: 0rem 1.25rem;
  font-size: 0.875rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
  letter-spacing: normal;
  flex: 1 1 0;
  z-index: 2;
}

.colophon {
  order: 1;
}

.colophon .sm {
    text-align: left;
}

.link-section {
  order: 2;
}

.blur {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

.hidden {
    position: absolute;
    z-index: -1;
}

.stats {
    background-color: var(--bg-primary);
    border-radius: 8px;
    padding: var(--margin);
    transition: all 0.4s ease-in-out;
}

.table {
    width: 100%;
    border-radius: 8px;
    padding: var(--margin) 0.5rem;
}

.th, .sub {
    color: rgba(0, 0, 0, 0.4);
}

.th .col-1 {
    padding-left: 0.5rem;
}

.sub {
    font-weight: 500;
    width: 100%;
    font-size: .875rem;
}

.sup {
    width: 100%;
    font-weight: 600;
}

.th, .tr {
    align-items: stretch;
    padding: 0.875rem;
}

.td {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-profile {
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    margin-right: var(--margin);
}

.user-profile img {
    width: 100%;
}

/* Queries */

.th {
    display: none;
  }

  .col-1, .col-2, .col-3, .col-4 {
      width: 100%;
      margin-bottom: var(--margin);
  }

  .start {
      border-top: none;
  }

  .tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  }