@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf');
}

:root {
    --heading-size: 3rem;
    --logo-size: 2rem;
    --subheading-size: 1.5rem;
    --font-size: 1.1rem;
    --padding-vertical: 3.5rem;
    --padding-horizontal: 2.5rem;
    --margin: 1rem;
    --bg-primary: #FFFFFF;
    --bg-secondary: #FAFBFC;
    --text-primary: #000000;
    --text-secondary: #414141;
    --brand-color: #F4A641;
    --red: rgb(219, 50, 54);
    --yellow: rgb(244, 194, 13);
    --blue: rgb(72, 133, 237);
    --green: rgb(60, 186, 84);
    --red-bg: rgba(219, 50, 54, 0.2);
    --yellow-bg: rgba(244, 194, 13, 0.2);
    --blue-bg: rgba(72, 133, 237, 0.2);
    --green-bg: rgba(60, 186, 84, 0.2);
    --shadow-raised: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    --shadow-flat: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", "Noto Sans", sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.55;
    color: var(--text-secondary);
    text-align: left;
    background-color: var(--bg-primary);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Manrope", "Noto Sans", sans-serif;
    color: var(--text-primary);
    font-weight: 700;
    margin-bottom: var(--margin);
}

h1 {
    font-size: var(--heading-size);
}

h2 {
    font-size: var(--logo-size);
}

h3 {
    font-size: var(--subheading-size);
}

p {
    text-align: justify;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--brand-color);
}

section {
    width: 100%;
}

.container {
    width: 100%;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.span-1-of-1,
.row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.flex-wrap,
.flex-column,
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.raised {
    box-shadow: var(--shadow-raised);
}

.flat {
    box-shadow: var(--shadow-flat);
}

.icon {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.red {
    color: var(--red);
    background-color: var(--red-bg);
}

.blue {
    color: var(--blue);
    background-color: var(--blue-bg);
}

.yellow {
    color: var(--yellow);
    background-color: var(--yellow-bg);
}

.green {
    color: var(--green);
    background-color: var(--green-bg);
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 220px;
    width: 100%;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    box-shadow: var(--shadow-raised);
}

.cta {
    background-color: var(--brand-color);
    color: #FFFFFF;
}

.form-item {
    width: 100%;
    float: left;
    max-width: 400px;
    margin-bottom: var(--margin);
}

.w-100 {
    max-width: none;
    width: 100%;
}

form {
    width: 100%;
    max-width: 890px;
}

form ::placeholder {
    color: inherit;
    opacity: 1;
}

input, select, textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    resize: none;
    padding: var(--margin);
}